body
        {
            display: flex;
            justify-content: center;
            background: linear-gradient(360deg,cyan,rgb(134, 24,24),black);
            background-size: 2999px;
            vertical-align: middle;
        }
        td{
            border: 2px solid black;
            width: fit-content;
            padding: 100px;
            border-radius: 30px;
            background-size: 480px;
            margin-top: 20px;
        }
        a{
            text-decoration: none;
            font-size: 70px;
            color: black;
            font-weight: 30px;
        }
        button{
            height: 100px;
            width: 300px;
            border-radius: 30px;
        }
        button:hover{
            background: linear-gradient(135deg,orange,red,blue,purple);
            border-bottom-left-radius: 80px;
            border-bottom-right-radius: 80px;
        }