{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />"

</head>
<body>
    <section>
        <article>
            <img src="{% static 'images/python.jpg' %}" alt="Python">
            <h2>PYTHON FULL-STACK</h2>
            <ul>
                <li>Core Python</li>
                <li>Django</li>
                <li>Falsk</li>
                <li>web-tech</li>
                <li>SQL</li>
            </ul>
        </article>
        <article>
            <img src="{% static 'images/java ful stack .jpeg' %}" alt="Java">
            <h2>JAVA FULL-STACK</h2>
            <ul>
                <li>Core Java</li>
                <li>Advance java</li>
                <li>sql</li>
                <li>Web</>
                <li>apditude</li>
            </ul>
        </article>
        <article>
            <img src="{% static 'images/web.jpg' %}" alt="MERN">
            <h2>MERN FULL-STACK</h2>
            <ul>
                <li>React js</li>
                <li>Mongo DB</li>
                <li>Express Js</li>
                <li>Node js</li>
                <li>Web-tech</li>
            </ul>
        </article>
    </section>
    <center>
        <div>
            <a href="{% url 'bootstrap' %}">Previous</a>
            <a href="{% url 'signup_page' %}">Next</a>
        </div>
        </center>
</body>
</html>