{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEGALIA</title>
    <link rel="stylesheet" href="{% static 'css/webpage3.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <div class="navbar">
            <span>LEGALIA</span>
            <a href="">HOME</a>
            <a href="">ABOUT</a>
            <a href="">SERVICE AREAS</a>
            <a href="">OUR TEAM</a>
            <a href="">CONTACT</a>  
        </div>
    </nav>
    <div>
        <h1>GET IN TOUCH</h1>
        <div class="content">
            <h3><i class="fa-solid fa-phone"></i> Phone: +91 123 456 7890  <br> 
                <p><i class="fa-solid fa-envelope"></i> Email:hadmdy.mostsfa@legliacorp.com</p>
                <i class="fa-solid fa-location-dot"></i>Address: 18 Mahmoud Azmy Streeet,off 26th july Street, Zamalek, Cairo, Egypt.</h3>
        </div>        
    <table>
        <tr>
            <td><input type="text" id="b1"></td>
            <td><input type="text" id="b2"></td>
            <td><input type="text" id="b3"></td>
            <th><input type="text" id="b4"></th>
        </tr>
    </table>
        <button>
            <a href="">SEND MESSAGE</a>
        </button>
</body>
</html>